@model I9Solucoes.Models.AtividadeCurso
@{
    Layout = "~/Views/Shared/_LayoutEspecifico.cshtml";
}
<section>
    <div class="row">
        <div class="col-lg-3">
            <h1>Realização de AtividadeAula</h1>
        </div>
        <div class="col-lg-8">
            <h2>@Model.Titulo</h2>
            <pre>@Model.Descricao</pre>
            @if (@ViewBag.usuarioAtividade.Id >0)
            {
            <b>Comentário do professor: @ViewBag.usuarioAtividade.ComentarioProfessor</b>
            <br />
            <b>Nota: @ViewBag.usuarioAtividade.Nota</b>
            }

            @if (String.IsNullOrEmpty(ViewBag.usuarioAtividade.SnConcluida) || ViewBag.usuarioAtividade.SnConcluida != "S")
            {

                <form id="formAtividade" name="formAtividade" action="/curso/gravarAtividade" method="post">
                    <div class="form-group">
                        <label for="resposta">Insira aqui a sua resposta:</label>
                        <input type="text" id="resposta" name="resposta" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Enviar">
                    </div>
                </form>
            }
        </div>
    </div>
</section>
<hr>
