@{
	Layout = "~/Views/Shared/_LayoutEspecifico.cshtml";
	}
<section>
	<div class="row">
		<div class="col-lg-3">
			<h1>Inscrição</h1>
		</div>
		<div class="col-lg-8">
			<p class="text-lead">
Você está prestes a se inscrever no curso.<br>
Este curso terá o valor total de R$ @ViewBag.valorMonetario, e será pago uma única vez.<br>
Após sua inscrição no curso, lhe será apresentado um link de pagamento, o qual direcionarar-lhe para uma outra página, onde você deverá escolher como deseja pagar.<br>
Caso o pagamento seja realizado com cartão de crédito e o mesmo seja aprovado, a liberação no curso será imediata e você já poderá iniciar o mesmo.
<br>
Caso você prefira pagar via chave pix, prossiga com a inscrição e depois, realize a transferência do valor do curso para a seguinte chave do tipo número de celular:
<br>
<b>81995081051</b>
<br>
Envie o comprovante do pagamento para o Whatsapp, que é o mesmo número da chave pix ou para o e-mail 
<a href="mailto:programadorricardooliveira@gmail.com">programadorricardooliveira@gmail.com</a>
<br>
Em até 24 horas seu curso será liberado.
<br>
Fique tranquilo(a), que lhe avisaremos quando a liberação for efetuada.
<br>
							</p>
</div>
		</div>
<div class="row">
<div id="inscricao">
<form id="formInscricaoCurso">
<input type="hidden" id="idCurso" name="idCurso" value="@ViewBag.idCurso">
<div class="form-group">
<label for="tipoAssinatura">Selecione o tempo de assinatura para este curso</label>
<select id="tempoAssinatura" name="tempoAssinatura">
<option value="">Selecione...</option>
	@foreach (var tempo in ViewBag.tempoCobranca)
	{
<option value="@tempo.Id">@tempo.Tempo meses por R$ @tempo.Valor</option>
	}
</select>
</div>
<div class="form-group">
<input id="botaoInscrever" type="button" value="Realizar inscrição" onClick="inscrever()">
</div>
</form>
</div>
</div>
</section>
<div id="alerta" class="alert alert-success" role="alert">
</div>

		<hr>
    <script src="~/Scripts/Curso/Curso.js"></script>